.footer {
  background-color: var(--head-foot);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: white;
}

.logo-github {
  margin-left: 10px;
  width: 30px;
}