@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bk);
  font-family: 'Lato', sans-serif;
}

.btn-box {
  position: relative;
  top: 5px;
  margin-top: 10px;
  display: flex;
}

.middle {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 2.5px;
  left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--bk);
  color: var(--font);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.edit-btn, .preview-btn {
  cursor: pointer;
  width: 100px;
  height: 35px;
  border: none;
  color: var(--font);
}

.edit-btn.active {
  box-shadow: 0px 0px 5px 1px blue;
}

.preview-btn.active {
  box-shadow: 0px 0px 5px 1px green;
}

.edit-btn {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--edit);
}

.preview-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--preview);
}